.prueba {
  color: rgb(24, 94, 31);
  font-size: 50px;
}
.parag {
  color: rgb(241, 163, 209);
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace
}
img:hover {
  transform: scaleX(-1)
}
img {
  width: 220px
}
.old {
font-family: cursive
}
.teeth {
  font-family: fantasy;
  font-size: 14px;
}